.listSkills {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  overflow: hidden;

  & > span {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 8px 0 2px;
    font-weight: 700;
  }
}

.button {
  color: #3483cc;
  border-bottom: 1px dashed #3483cc;
  cursor: pointer;

  &:hover {
    color: #eb5757;
  }
}
