.section {
  display: flex;
  flex-direction: column;
  width: 258px;
  margin-bottom: 24px;

  @media (max-width: 1160px) {
    flex-basis: 35%;

    @media (max-width: 800px) {
      min-width: 258px;
    }
  }
}
