.container {
  margin-bottom: 16px;

  @media (max-width: 980px) {
    font-size: 18px;
    line-height: 18px;
  }
}

.code {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 100%;
  height: 144px;
  background-color: rgba(179, 186, 192, 0.2);
  border-radius: 8px;
}
